# IDE folders
.idea/

# env files
.env
*.env
*.env.*
!.env.example
env/
venv/
ENV/

# Office Lockfiles
~$*
*.tmp
.~lock.*

# Tmp files
/**/tmp/
tmp
tmp.*
.temp
.tmp

# Test files (frontend/JS patterns only - don't add test/ here because it'll ignore src/test/ in Java services)
test.*
*.test.*
!**/__tests__/**
!**/src/**/*.test.js

# Output of compiling
out/
build/
target/
dist/
cmake-build-debug/
# for QT, both as single directory and as subfolders
/build-*-*
/*/build-*-*

# Mac
.DS_Store

# Python
.venv

# Java
*.class
*.jar
.gradle
**/build/
!**/src/**/build/

# node.js
node_modules/

# python
__pycache__/